@charset "UTF-8";
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: white;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: rgb(0, 0, 0);
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--emphatic {
  overflow: hidden;
}

.hamburger--emphatic .hamburger-inner {
  transition: background-color 0.125s 0.175s ease-in;
}

.hamburger--emphatic .hamburger-inner::before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
}

.hamburger--emphatic .hamburger-inner::after {
  top: 10px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
}

.hamburger--emphatic.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent !important;
}

.hamburger--emphatic.is-active .hamburger-inner::before {
  left: -80px;
  top: -80px;
  transform: translate3d(80px, 80px, 0) rotate(45deg);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hamburger--emphatic.is-active .hamburger-inner::after {
  right: -80px;
  top: -80px;
  transform: translate3d(-80px, 80px, 0) rotate(-45deg);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ww/poppins-v20-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/ww/poppins-v20-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ww/poppins-v20-latin-regular.woff2") format("woff2"), url("../fonts/ww/poppins-v20-latin-regular.woff") format("woff"), url("../fonts/ww/poppins-v20-latin-regular.ttf") format("truetype"), url("../fonts/ww/poppins-v20-latin-regular.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/ww/poppins-v20-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/ww/poppins-v20-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/ww/poppins-v20-latin-500.woff2") format("woff2"), url("../fonts/ww/poppins-v20-latin-500.woff") format("woff"), url("../fonts/ww/poppins-v20-latin-500.ttf") format("truetype"), url("../fonts/ww/poppins-v20-latin-500.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-600 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/ww/poppins-v20-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/ww/poppins-v20-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/ww/poppins-v20-latin-600.woff2") format("woff2"), url("../fonts/ww/poppins-v20-latin-600.woff") format("woff"), url("../fonts/ww/poppins-v20-latin-600.ttf") format("truetype"), url("../fonts/ww/poppins-v20-latin-600.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ww/poppins-v20-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/ww/poppins-v20-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/ww/poppins-v20-latin-700.woff2") format("woff2"), url("../fonts/ww/poppins-v20-latin-700.woff") format("woff"), url("../fonts/ww/poppins-v20-latin-700.ttf") format("truetype"), url("../fonts/ww/poppins-v20-latin-700.svg#Poppins") format("svg"); /* Legacy iOS */
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f5f5f5;
}

.header {
  background: url(../img/bg.png);
  min-height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
  margin-bottom: 0;
  background-size: cover;
  padding-bottom: 0;
}

.nav {
  max-width: 1550px;
  padding: 40px 0px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
  align-items: center;
}

.logo {
  margin-left: 10px;
  margin-right: auto;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 68px;
  margin-right: 68px;
}

.nav-link {
  font-size: 15px;
  font-weight: 400;
  color: white;
  font-family: "Poppins";
  text-decoration: none;
  border-bottom: 3px solid #ffd703;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  transition: 0.4s;
  align-items: center;
}

.nav-link:hover {
  color: #000000;
  border-bottom: 3px solid #ffd703;
}

.nav-link1 {
  border-radius: 40px;
  padding: 10px 45px;
  border: 1px solid #ffd703;
  display: flex;
  align-items: center;
  color: #ffd703;
  transition: 0.6s;
  font-family: "Poppins";
  text-decoration: none;
}

.nav-link1:hover {
  color: rgb(255, 255, 255);
  border: 1px solid #000000;
  box-shadow: 0px 0px 20px 4px #000000;
}

.nav-link2 {
  border-radius: 40px;
  padding: 10px 45px;
  border: 1px solid #ffd703;
  display: flex;
  align-items: center;
  color: #ffd703;
  transition: 0.6s;
  font-family: "Poppins";
  display: none;
  text-decoration: none;
}

.nav-link2:hover {
  color: rgb(255, 255, 255);
  border: 1px solid #000000;
  box-shadow: 0px 0px 20px 4px #000000;
}

.hamburger {
  margin-right: 20px;
  display: none;
}

.header-top {
  padding: 30px 20px;
  max-width: 1550px;
  margin: 0 auto;
  display: flex;
}

.t1 {
  max-width: 900px;
  color: white;
  font-size: 102px;
  margin-bottom: 5px;
  font-family: "Poppins";
  font-weight: 400;
}

.t2 {
  font-size: 24px;
  max-width: 640px;
  font-family: "Poppins";
  font-weight: 400;
  color: white;
  margin: 0;
  margin-left: 8px;
}

.btn {
  margin-top: 100px;
  margin-left: 8px;
  display: flex;
  justify-content: center;
  background: #ffd703;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  border: none;
  border-radius: 50px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 22px;
  padding: 14px 72px;
  transition: 0.6s;
  border: 1px solid rgba(0, 0, 0, 0);
}

.btn:hover {
  background: rgba(0, 0, 0, 0.33);
  color: white;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0px 0px 20px 4px #000000;
}

.block2 {
  margin-top: 50px;
  display: flex;
  flex-grow: 1;
  justify-content: end;
  align-items: center;
}

.header-botton {
  max-width: 1550px;
  margin: 0 auto;
  margin-top: 160px;
  margin-bottom: 100px;
}

.card-header {
  overflow-x: auto;
  display: flex;
}

.tt1 {
  font-size: 56px;
  font-family: "Poppins";
  font-weight: 400;
  color: white;
  margin-left: 32px;
  margin-bottom: 5px;
}

.card {
  margin-top: 20px;
  margin-left: 32px;
  border-radius: 20px;
  max-width: 480;
  padding-right: 50px;
  transition: 0.6s;
  background: rgba(255, 255, 255, 0.378);
}

.icon-card {
  margin-top: 32px;
  margin-left: 32px;
}

.tt2 {
  margin-bottom: 0;
  font-family: "Poppins";
  font-weight: 400;
  margin-left: 32px;
  transition: 0.6s;
  font-size: 40px;
  color: white;
}

.tt3 {
  margin-top: 10px;
  max-width: 400px;
  font-family: "Poppins";
  font-weight: 400;
  margin-left: 32px;
  font-size: 16px;
  color: #cefffd;
  padding-bottom: 10px;
  transition: 0.6s;
}

.card:hover {
  box-shadow: 0px 0px 10px 0px black;
  transform: translateY(-10px);
}

.card:hover .tt3 {
  color: black;
}

.card:hover .tt2 {
  color: black;
}

.section {
  padding: 0;
  margin: 0;
}

.box1 {
  margin: 0 auto;
  margin-top: 240px;
  max-width: 1490px;
  margin-bottom: 240px;
}

.tb {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 60px;
}

.card-box1 {
  display: flex;
  gap: 26px;
  align-items: center;
  flex-wrap: wrap;
}

.card-section {
  overflow-x: auto;
  margin-top: 45px;
  display: flex;
  padding-top: 20px;
  gap: 32px;
}

.card-box1 {
  border-radius: 30px 5px 30px 5px;
  border: 1px solid rgba(0, 0, 0, 0);
  max-width: 480px;
  padding-top: 10px;
  transition: 0.6s;
  padding-left: 10px;
}

.tb1 {
  font-family: "Poppins";
  font-weight: 400;
  line-height: 30px;
  font-size: 32px;
  margin-bottom: 18px;
}

.st {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 18px;
  color: #3fc2bb;
}

.tb2 {
  font-family: "Poppins";
  font-weight: 400;
  transform: translateY(-40px);
  font-size: 16px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.card-box1:hover {
  border: 1px solid rgb(0, 255, 136);
  transform: translateY(-10px);
  box-shadow: 0px 0px 10px 0px rgb(0, 255, 136);
}

.box2 {
  max-width: 1490px;
  margin: 0 auto;
  margin-bottom: 253px;
  position: relative;
}

.card-section2 {
  display: flex;
  overflow-x: auto;
  gap: 32px;
  padding: 0;
  margin: 0 auto;
  padding: 40px 0px;
  margin-bottom: 0;
  margin-top: 32px;
}

.card-section2::-webkit-scrollbar {
  width: 5px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
  background-color: rgba(20, 56, 97, 0.4235294118);
}

.card-section2::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #089cff;
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #f3faf7;
}

.bg-box2 {
  position: absolute;
  top: -80px;
  right: 20px;
  z-index: -1;
}

.card-box2 {
  border-radius: 20px;
  padding: 0;
  margin: 0;
  width: 344px;
  height: 380px;
}

.img-box2 {
  object-fit: cover;
  width: 344px;
  overflow: hidden;
  transition: 0.6s;
  height: 380px;
  border-radius: 20px;
}

.tb3 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 60px;
  margin-bottom: 18px;
}

.tb4 {
  font-family: "Poppins";
  max-width: 800px;
  margin-top: 0;
  font-weight: 400;
  font-size: 16px;
}

.img-box2:hover {
  transform: translatey(-10px);
  box-shadow: 0px 0px 10px 0px rgb(0, 255, 136);
}

.box3 {
  max-width: 1490px;
  margin: 0 auto;
  margin-bottom: 200px;
}

.post-box3 {
  display: flex;
  row-gap: 60px;
  gap: 20px;
  flex-wrap: wrap;
}

.tb5 {
  font-size: 60px;
  font-family: "Poppins";
  font-weight: 400;
}

.post {
  display: flex;
  align-items: center;
  max-width: 480px;
  gap: 20px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px 4px 60px 4px;
  transition: 0.6s;
}

.pt1 {
  color: #ffd84e;
  font-size: 40px;
  font-family: "Poppins";
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 5px;
}

.pt2 {
  font-size: 40px;
  font-family: "Poppins";
  font-weight: 400;
  color: #a66df5;
  margin-top: 10px;
  margin-bottom: 5px;
}

.pt3 {
  font-size: 40px;
  color: #fb6363;
  font-family: "Poppins";
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 5px;
}

.pt4 {
  font-size: 40px;
  color: #6dd6b0;
  font-family: "Poppins";
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 5px;
}

.pt5 {
  color: #708cf0;
  font-size: 40px;
  font-family: "Poppins";
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 5px;
}

.pt6 {
  font-size: 40px;
  color: #891bc4;
  font-family: "Poppins";
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 5px;
}

.p2 {
  font-family: "Poppins";
  margin-top: 0;
  font-weight: 400;
  transition: 0.6s;
  font-size: 12px;
}

.post:hover {
  transform: translateY(-10px);
  background: rgb(69, 30, 30);
  background: linear-gradient(160deg, rgb(69, 30, 30) 12%, rgb(0, 0, 0) 57%);
  border: 1px solid rgb(255, 0, 0);
  box-shadow: 0px 0px 20px 0px rgb(255, 0, 0);
}

.post:hover .p2 {
  color: white;
}

.box4 {
  position: relative;
  margin: 0 auto;
  margin-bottom: 200px;
  max-width: 1490px;
  height: 100vh;
  border-radius: 30px;
  background: url(/img/bgbox4.png);
  background-size: cover;
}

.post-box4 {
  position: absolute;
  bottom: 120px;
  left: 30px;
  max-width: 820px;
  padding-left: 40px;
  transition: 0.6s;
  padding-right: 40px;
  border-radius: 30px;
  border: 1px solid rgba(136, 15, 15, 0);
  background: rgba(255, 255, 255, 0.733);
}

.title {
  margin: 0;
  margin-top: 28px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 60px;
}

.title1 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  max-width: 660px;
}

.btnn-box4 {
  display: flex;
  margin-bottom: 28px;
  margin-top: 30px;
  align-items: center;
}

.icon-svg {
  margin-right: 20px;
}

.imgbox4 {
  margin-right: 220px;
}

.btn-box4 {
  margin-right: 150px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  display: flex;
  padding: 10px 40px;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  border-radius: 30px;
  border: none;
  background: #ffd703;
  transition: 0.6s;
}

.btn-box4:hover {
  background: rgba(0, 0, 0, 0.6705882353);
  color: white;
  box-shadow: 0px 0px 10px 0px rgb(0, 255, 136);
}

.post-box4:hover {
  color: white;
  transform: translateY(-10px);
  background: rgba(0, 0, 0, 0.5411764706);
  box-shadow: 0px 0px 20px 0px red;
  border: 1px solid rgb(255, 0, 0);
}

@media (max-width: 1120px) {
  nav {
    flex-wrap: wrap;
  }
  .nav-header {
    padding: 20px 0px;
    flex-basis: 100%;
    order: 1;
    margin-right: 0;
  }
  .header-top {
    margin-top: 0;
    padding: 0;
    flex-direction: column;
    text-align: center;
  }
  .t1 {
    margin: auto;
    margin-top: 0;
  }
  .t2 {
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;
  }
  .btn {
    margin: 0 auto;
  }
  .block2 {
    display: none;
  }
  .tt1 {
    text-align: center;
    margin: auto;
  }
  .tt2 {
    padding: 0;
    font-size: 30px;
    text-align: center;
  }
  .tt3 {
    padding: 0;
    text-align: center;
    font-size: 12px;
    text-align: center;
  }
}
@media (max-width: 776px) {
  .hamburger {
    display: inline-flex;
  }
  .nav-header {
    background: rgba(0, 0, 0, 0.568627451);
    flex-basis: 0;
    order: 0;
    position: fixed;
    flex-direction: column;
    transition: 0.6s;
    top: 0;
    right: 0;
    width: 250px;
    gap: 30px;
    height: 100vh;
    box-shadow: -1px 0 10px rgb(255, 255, 255);
    transform: translateX(calc(100% + 10px));
  }
  .nav-link1 {
    display: none;
  }
  .nav-link2 {
    display: inline-flex;
  }
  .nav-header.is-active {
    transform: translateX(0);
  }
  .t1 {
    font-size: 70px;
  }
  .t2 {
    font-size: 20px;
  }
  .card {
    width: 480px;
  }
  .icon-card {
    text-align: center;
    margin: 0 auto;
    margin-top: 32px;
    margin-left: 32px;
  }
  .tt2 {
    font-size: 32px;
    padding: 0;
    margin-left: 32px;
    width: 300px;
  }
  .tt3 {
    margin: 0 auto;
    font-size: 16px;
    padding: 0;
    margin-left: 32px;
    margin-bottom: 32px;
    text-align: center;
  }
}
@media (max-width: 1380px) {
  .tb {
    text-align: center;
  }
  .card-box1 {
    width: 480px;
    margin-top: 20px;
  }
  .box1 {
    margin-top: 50px;
  }
  .tb1 {
    font-size: 26px;
  }
  .tb2 {
    font-size: 14px;
  }
}
@media (max-width: 1120px) {
  .bg-box2 {
    display: none;
  }
  .tb3 {
    text-align: center;
    font-size: 60px;
  }
  .box1 {
    margin-bottom: 50px;
  }
  .tb4 {
    text-align: center;
    margin: auto;
  }
  .box2 {
    margin-bottom: 50px;
  }
  .tb5 {
    text-align: center;
  }
  .post-box3 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
  }
  .pt1 {
    font-size: 26px;
  }
  .pt2 {
    font-size: 26px;
  }
  .pt3 {
    font-size: 26px;
  }
  .pt4 {
    font-size: 26px;
  }
  .pt5 {
    font-size: 26px;
  }
  .pt6 {
    font-size: 26px;
  }
}
@media (max-width: 940px) {
  .card-box1 {
    flex-direction: column;
  }
  .tb2 {
    text-align: center;
  }
}
@media (max-width: 876px) {
  .tb1 {
    text-align: center;
    width: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
