* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #f5f5f5;
}

// ------------------------------------------------------

// header-nav menu

.header {
  background: url(../img/bg.png);
  min-height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
  margin-bottom: 0;
  background-size: cover;
  padding-bottom: 0;
}
.nav {
  max-width: 1550px;
  padding: 40px 0px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
  align-items: center;
}
.logo {
  margin-left: 10px;
  margin-right: auto;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 68px;
  margin-right: 68px;
}
.nav-link {
  font-size: 15px;
  font-weight: 400;
  color: white;
  font-family: "Poppins";
  text-decoration: none;
  border-bottom: 3px solid #ffd703;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  transition: 0.4s;
  align-items: center;
}
.nav-link:hover {
  color: #000000;
  border-bottom: 3px solid #ffd703;
}
.nav-link1 {
  border-radius: 40px;
  padding: 10px 45px;
  border: 1px solid #ffd703;
  display: flex;
  align-items: center;
  color: #ffd703;
  transition: 0.6s;
  font-family: "Poppins";
  text-decoration: none;
}
.nav-link1:hover {
  color: rgb(255, 255, 255);
  border: 1px solid #000000;
  box-shadow: 0px 0px 20px 4px #000000;
}
.nav-link2 {
  border-radius: 40px;
  padding: 10px 45px;
  border: 1px solid #ffd703;
  display: flex;
  align-items: center;
  color: #ffd703;
  transition: 0.6s;
  font-family: "Poppins";
  display: none;
  text-decoration: none;
}
.nav-link2:hover {
  color: rgb(255, 255, 255);
  border: 1px solid #000000;
  box-shadow: 0px 0px 20px 4px #000000;
}
.hamburger {
  margin-right: 20px;
  display: none;
}

// header-nav/menu

// ------------------------------------------------------

// header-top info

.header-top {
  padding: 30px 20px;
  max-width: 1550px;
  margin: 0 auto;
  display: flex;
}
.t1 {
  max-width: 900px;
  color: white;
  font-size: 102px;
  margin-bottom: 5px;
  font-family: "Poppins";
  font-weight: 400;
}
.t2 {
  font-size: 24px;
  max-width: 640px;
  font-family: "Poppins";
  font-weight: 400;
  color: white;
  margin: 0;
  margin-left: 8px;
}
.btn {
  margin-top: 100px;
  margin-left: 8px;
  display: flex;
  justify-content: center;
  background: #ffd703;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  border: none;
  border-radius: 50px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 22px;
  padding: 14px 72px;
  transition: 0.6s;
  border: 1px solid rgba(0, 0, 0, 0);
}
.btn:hover {
  background: rgba(0, 0, 0, 0.33);
  color: white;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0px 0px 20px 4px #000000;
}
.block2 {
  margin-top: 50px;
  display: flex;
  flex-grow: 1;
  justify-content: end;
  align-items: center;
}

// header-top info

// ------------------------------------------------------

// header-botton info

.header-botton {
  max-width: 1550px;
  margin: 0 auto;
  margin-top: 160px;
  margin-bottom: 100px;
}
.card-header {
  overflow-x: auto;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  gap: 20px;
}
.tt1 {
  font-size: 56px;
  font-family: "Poppins";
  font-weight: 400;
  color: white;
  margin-left: 32px;
  margin-bottom: 5px;
}
.card {
  margin-top: 20px;
  border-radius: 20px;
  max-width: 480;
  padding-right: 50px;
  transition: 0.6s;
  background: rgba(255, 255, 255, 0.378);
}
.icon-card {
  margin-top: 32px;
  margin-left: 32px;
}
.tt2 {
  margin-bottom: 0;
  font-family: "Poppins";
  font-weight: 400;
  margin-left: 32px;
  transition: 0.6s;
  font-size: 40px;
  color: white;
}
.tt3 {
  margin-top: 10px;
  max-width: 400px;
  font-family: "Poppins";
  font-weight: 400;
  margin-left: 32px;
  font-size: 16px;
  color: #cefffd;
  padding-bottom: 10px;
  transition: 0.6s;
}
.card:hover {
  box-shadow: 0px 0px 10px 0px black;
  transform: translateY(-10px);
}
.card:hover .tt3 {
  color: black;
}
.card:hover .tt2 {
  color: black;
}

// header-button info

// -------------------------------------------------------------

// section box

.section {
  padding: 0;
  margin: 0;
}

.box1 {
  margin: 0 auto;
  margin-top: 240px;
  max-width: 1490px;
  margin-bottom: 240px;
}
.tb {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 60px;
}
.card-box1 {
  display: flex;
  gap: 26px;
  align-items: center;
  flex-wrap: wrap;
}
.card-section {
  overflow-x: auto;
  margin-top: 45px;
  display: flex;
  padding-top: 20px;
  gap: 32px;
}
.card-box1 {
  border-radius: 30px 5px 30px 5px;
  border: 1px solid rgba(0, 0, 0, 0);
  max-width: 480px;
  padding-top: 10px;
  transition: 0.6s;
  padding-left: 10px;
}
.tb1 {
  font-family: "Poppins";
  font-weight: 400;
  line-height: 30px;
  font-size: 32px;
  margin-bottom: 18px;
}
.st {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 18px;
  color: #3fc2bb;
}
.tb2 {
  font-family: "Poppins";
  font-weight: 400;
  transform: translateY(-40px);
  font-size: 16px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.card-box1:hover {
  border: 1px solid rgb(0, 255, 136);
  transform: translateY(-10px);
  box-shadow: 0px 0px 10px 0px rgb(0, 255, 136);
}

// -------------------------------------------------------------

.box2 {
  max-width: 1490px;
  margin: 0 auto;
  margin-bottom: 253px;
  position: relative;
}
.card-section2 {
  display: flex;
  overflow-x: auto;
  gap: 32px;
  padding: 0;
  margin: 0 auto;
  padding: 40px 0px;
  margin-bottom: 0;
  margin-top: 32px;
}
.card-section2::-webkit-scrollbar {
  width: 5px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
  background-color: #1438616c;
}
.card-section2::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #089cff;
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #f3faf7;
}

.bg-box2 {
  position: absolute;
  top: -80px;
  right: 20px;
  z-index: -1;
}
.card-box2 {
  border-radius: 20px;
  padding: 0;
  margin: 0;
  width: 344px;
  height: 380px;
}
.img-box2 {
  object-fit: cover;
  width: 344px;
  overflow: hidden;
  transition: 0.6s;
  height: 380px;
  border-radius: 20px;
}
.tb3 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 60px;
  margin-bottom: 18px;
}
.tb4 {
  font-family: "Poppins";
  max-width: 800px;
  margin-top: 0;
  font-weight: 400;
  font-size: 16px;
}
.img-box2:hover {
  transform: translatey(-10px);
  box-shadow: 0px 0px 10px 0px rgb(0, 255, 136);
}
// -------------------------------------------------------------

.box3 {
  max-width: 1490px;
  margin: 0 auto;
  margin-bottom: 200px;
}
.post-box3 {
  display: flex;
  row-gap: 60px;
  gap: 20px;
  flex-wrap: wrap;
}
.tb5 {
  font-size: 60px;
  font-family: "Poppins";
  font-weight: 400;
}
.post {
  display: flex;
  align-items: center;
  max-width: 480px;
  gap: 20px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px 4px 60px 4px;
  transition: 0.6s;
}
.pt1 {
  color: #ffd84e;
  font-size: 40px;
  font-family: "Poppins";
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 5px;
}
.pt2 {
  font-size: 40px;
  font-family: "Poppins";
  font-weight: 400;
  color: #a66df5;
  margin-top: 10px;
  margin-bottom: 5px;
}
.pt3 {
  font-size: 40px;
  color: #fb6363;
  font-family: "Poppins";
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 5px;
}
.pt4 {
  font-size: 40px;
  color: #6dd6b0;
  font-family: "Poppins";
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 5px;
}
.pt5 {
  color: #708cf0;
  font-size: 40px;
  font-family: "Poppins";
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 5px;
}
.pt6 {
  font-size: 40px;
  color: #891bc4;
  font-family: "Poppins";
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 5px;
}
.p2 {
  font-family: "Poppins";
  margin-top: 0;
  font-weight: 400;
  transition: 0.6s;
  font-size: 12px;
}
.post:hover {
  transform: translateY(-10px);
  background: rgb(69, 30, 30);
  background: linear-gradient(
    160deg,
    rgba(69, 30, 30, 1) 12%,
    rgba(0, 0, 0, 1) 57%
  );
  border: 1px solid rgb(255, 0, 0);
  box-shadow: 0px 0px 20px 0px rgb(255, 0, 0);
}
.post:hover .p2 {
  color: white;
}
// ------------------------
.box4 {
  position: relative;
  margin: 0 auto;
  margin-bottom: 240px;
  max-width: 1490px;
  height: 100vh;
  border-radius: 30px;
  background: url(/img/bgbox4.png);
  background-size: cover;
}
.post-box4 {
  position: absolute;
  bottom: 120px;
  left: 30px;
  right: 30px;
  max-width: 820px;
  padding-left: 40px;
  transition: 0.6s;
  padding-right: 40px;
  border-radius: 30px;
  border: 1px solid rgba(136, 15, 15, 0);
  background: rgba(255, 255, 255, 0.733);
}
.title {
  margin: 0;
  margin-top: 28px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 60px;
}
.title1 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  max-width: 660px;
}
.btnn-box4 {
  display: flex;
  margin-bottom: 28px;
  margin-top: 30px;
  align-items: center;
}
.icon-svg {
  margin-right: 20px;
}

.imgbox4 {
  margin-right: 220px;
}
.btn-box4 {
  margin-right: 150px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  display: flex;
  padding: 10px 40px;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  border-radius: 30px;
  border: none;
  background: #ffd703;
  transition: 0.6s;
}
.btn-box4:hover {
  background: #000000ab;
  color: white;
  box-shadow: 0px 0px 10px 0px rgb(0, 255, 136);
}
.post-box4:hover {
  color: white;
  transform: translateY(-10px);
  background: #0000008a;
  box-shadow: 0px 0px 20px 0px red;
  border: 1px solid rgb(255, 0, 0);
}
// ---------------
.box5 {
  margin: 0 auto;
  max-width: 1490px;
  margin-bottom: 240px;
}
.post-box5 {
  margin-bottom: 96px;
  display: flex;
  justify-content: space-between;
}
.g2 {
  display: flex;
}
.o1 {
  margin: 0;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 60px;
  margin-bottom: 20px;
}
.o2 {
  font-family: "Poppins";
  font-weight: 400;
  max-width: 800px;
  margin: 0;
  font-size: 16px;
}
.btn-box5 {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  transition: 0.6s;
  background: #ffd703;
  padding: 16px 66px;
  border-radius: 40px;
  margin-top: auto;
  border: none;
}
path {
  transition: 0.6s;
}
.btn-box5:hover path {
  fill: rgb(0, 255, 136);
}
.btn-box5:hover {
  background: #000000d5;
  color: white;
  box-shadow: 0px 0px 20px 0px rgb(255, 0, 0);
}
.post1-box5 {
  display: flex;
  gap: 40px;
}
.o3 {
  border-radius: 22px;
  max-width: 352px;
}
.img-o3 {
  overflow: hidden;
  object-fit: cover;
}
.o4 {
  position: relative;
  max-width: 272px;
  margin: 0 auto;
  transition: 0.6s;
  padding: 0;
  border-radius: 20px 20px 0px 0px;
  margin-top: -110px;
  background-color: rgba(226, 223, 223, 0.774);
  border: 1px solid rgba(0, 0, 0, 0);
}
.c1 {
  padding-left: 20px;
  line-height: 35px;
  margin-bottom: 5px;
  font-family: "Poppins";
  font-weight: 600;
}
.c2 {
  color: #3fc2bb;
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 20px;
}
.o5 {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding: 0;
  margin-top: 0;
  margin-bottom: 10px;
}
.o3:hover .o4 {
  background: #000000;
  color: white;
  transform: translateY(-10px);
  box-shadow: 0px 0px 10px 0px rgb(9, 255, 255);
  border: 1px solid rgb(9, 255, 255);
}
// ---------------------------
.footer {
  background: rgb(42, 120, 124);
  background: linear-gradient(
    180deg,
    rgba(42, 120, 124, 1) 25%,
    rgba(13, 194, 203, 1) 100%
  );
  margin: 0 auto;
  background-size: cover;
  padding: 0;
  min-height: 80vh;
}
.f1 {
  font-family: "Poppins";
  font-weight: 400;
  color: white;
  font-size: 106px;
  text-align: center;
  padding-top: 150px;
  margin-bottom: 0;
}
.f2 {
  max-width: 1000px;
  font-family: "Poppins";
  margin: auto;
  font-weight: 400;
  margin-top: 20px;
  color: white;
  text-align: center;
  font-size: 20px;
}
.fut {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.input-nv {
  border-radius: 40px;
  padding: 15px 160px 15px 40px;
  background: white;
}
.input {
  font-family: "Poppins";
  outline: none;
  font-size: 16px;
  flex-grow: 1;
  border: none;
  background: none;
}
.btn-ft {
  background: #ffd703;
  display: flex;
  font-family: "Poppins";
  font-weight: 500;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  padding: 10px 40px;
  transition: 0.6s;
  justify-content: center;
  align-items: center;
}
.btn-ft:hover {
  background: #000000d5;
  color: white;
  box-shadow: 0px 0px 20px 5px rgb(255, 0, 0);
}
.icon-ft {
  margin-top: 40px;
  gap: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ft-icon {
  transition: 0.6s;
}
.ft-icon:hover {
  background: #000000;
  border-radius: 40px;
  box-shadow: 0px 0px 20px 0px black;
}
.ft-icon:hover path {
  fill: rgb(0, 255, 136);
}
// --------------------------------
.end-b {
  background: #0b514d;
  margin-top: 0;
  padding: 0;
}
.end-post {
  margin: 0 auto;
  padding: 20px 0px;
  max-width: 1490px;
  border-bottom: 1px solid #38b7af;
  display: flex;
  margin-bottom: 20px;
}
.end-post2 {
  max-width: 1490px;
  margin: 0 auto;
}
.end-box {
  display: flex;
  padding: 0px 50px;
  flex-direction: column;
  gap: 10px;
}
.end-box1 {
  display: flex;
  padding: 0px 40px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.text1 {
  font-family: "Poppins";
  font-weight: 400;
  margin-top: 0;
  font-size: 25px;
  color: white;
}
.text2 {
  font-family: "Poppins";
  font-weight: 500;
  color: #38b7af;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}
.text3 {
  font-family: "Poppins";
  color: white;
  font-weight: 400;
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 0;
}
.text4 {
  font-family: "Poppins";
  margin-top: 0;
  color: white;
  font-weight: 400;
}
.input-end {
  border-radius: 40px;
  padding: 15px 120px 15px 40px;
  background: white;
}

.end-input {
  font-family: "Poppins";
  outline: none;
  font-size: 16px;
  flex-grow: 1;
  border: none;
  background: none;
}
.end-btn {
  font-family: "Poppins";
  font-weight: 500;
  display: flex;
  border-radius: 40px;
  padding: 10px 40px;
  color: #ffd703;
  justify-content: center;
  background: none;
  cursor: pointer;
  border: none;
  border: 1px solid #ffd703;
  align-items: center;
  font-size: 18px;
  margin-top: 10px;
  transition: 0.6s;
}
.end-btn:hover {
  border: 1px solid rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  box-shadow: 0px 0px 20px 0px black;
}
.end-post2 {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  padding-bottom: 10px;
  align-items: center;
}
.ennd {
  display: flex;
  gap: 30px;
}
.ennd-t {
  font-family: "Poppins";
  font-weight: 500;
  text-decoration: none;
  color: #38b7af;
  cursor: pointer;
  font-size: 16px;
}
.t10 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  color: #38b7af;
}
// section box

// -------------------------------------------------------------

// header optimization

@media (max-width: 1120px) {
  nav {
    flex-wrap: wrap;
  }
  .nav-header {
    padding: 20px 0px;
    flex-basis: 100%;
    order: 1;
    margin-right: 0;
  }
  .header-top {
    margin-top: 0;
    padding: 0;
    flex-direction: column;
    text-align: center;
  }
  .t1 {
    margin: auto;
    margin-top: 0;
  }
  .t2 {
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;
  }
  .btn {
    margin: 0 auto;
  }
  .block2 {
    display: none;
  }
  .tt1 {
    text-align: center;
    margin: auto;
  }
  .tt2 {
    padding: 0;
    font-size: 30px;
    text-align: center;
  }
  .tt3 {
    padding: 0;
    text-align: center;
    font-size: 12px;
    text-align: center;
  }
}
// ----------------------------
@media (max-width: 776px) {
  .hamburger {
    display: inline-flex;
  }
  .nav-header {
    background: #00000091;
    flex-basis: 0;
    order: 0;
    position: fixed;
    flex-direction: column;
    transition: 0.6s;
    top: 0;
    right: 0;
    width: 250px;
    gap: 30px;
    height: 100vh;
    box-shadow: -1px 0 10px rgb(255, 255, 255);
    transform: translateX(calc(100% + 10px));
  }
  .nav-link1 {
    display: none;
  }
  .nav-link2 {
    display: inline-flex;
  }
  .nav-header.is-active {
    transform: translateX(0);
  }
  .t1 {
    font-size: 70px;
  }
  .t2 {
    font-size: 20px;
  }
  .card {
    width: 480px;
  }

  .o2 {
    font-size: 14px;
  }
  .icon-card {
    text-align: center;
    margin: 0 auto;
    margin-top: 32px;
    margin-left: 32px;
  }
  .tt2 {
    font-size: 32px;
    padding: 0;
    margin-left: 32px;

    width: 300px;
  }
  .tt3 {
    margin: 0 auto;
    font-size: 16px;
    padding: 0;
    margin-left: 32px;
    margin-bottom: 32px;
    text-align: center;
  }
  .post1-box5 {
    overflow-x: auto;
    padding: 0px 30px;
  }
  .post1-box5::-webkit-scrollbar {
    width: 5px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: #1438616c;
  }
  .post1-box5::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #089cff;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
  }
  // ----------------------
}

// header optimization

// -------------------------------------------------------------

// section optimization
@media (max-width: 1566px) {
  .post1-box5 {
    margin: 0 auto;
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1380px) {
  .tb {
    text-align: center;
  }
  .card-box1 {
    width: 480px;
    margin-top: 20px;
  }
  .box1 {
    margin-top: 50px;
  }
  .tb1 {
    font-size: 26px;
  }
  .tb2 {
    font-size: 14px;
  }
}
// ----------------------
@media (max-width: 1184px) {
  .box4 {
    margin-bottom: 50px;
  }
  .post-box5 {
    flex-direction: column;
  }
  .btn-box5 {
    margin: auto;
    margin-top: 20px;
  }
  .o1 {
    text-align: center;
  }
  .o2 {
    margin: auto;
    text-align: center;
  }
  .box5 {
    margin-bottom: 50px;
  }
  .f1 {
    font-size: 80px;
  }
  .f2 {
    max-width: 600px;
    font-size: 16px;
  }
}
// ------------------
@media (max-width: 1120px) {
  .bg-box2 {
    display: none;
  }
  .tb3 {
    text-align: center;
    font-size: 60px;
  }
  .box1 {
    margin-bottom: 50px;
  }
  .tb4 {
    text-align: center;
    margin: auto;
  }
  .box2 {
    margin-bottom: 50px;
  }
  .tb5 {
    text-align: center;
  }
  // -----------------
  .box3 {
    margin-bottom: 50px;
  }
  .post-box3 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
  }

  .pt1 {
    font-size: 26px;
  }
  .pt2 {
    font-size: 26px;
  }
  .pt3 {
    font-size: 26px;
  }
  .pt4 {
    font-size: 26px;
  }
  .pt5 {
    font-size: 26px;
  }
  .pt6 {
    font-size: 26px;
  }
  // ----------------------
  .box4 {
    min-height: 80vh;
  }
  .post-box4 {
    max-width: 600px;
  }
  .btnn-box4 {
    justify-content: space-between;
  }
  .title {
    font-size: 40px;
  }
  .icon-svg {
    margin: 0;
  }
  .title1 {
    font-size: 14px;
  }
  .btn-box4 {
    font-size: 16px;
    padding: 10px 30px;
    margin: 0;
  }
  .imgbox4 {
    margin: 0;
  }
}
// ------------------------
@media (max-width: 940px) {
  .card-box1 {
    flex-direction: column;
  }
  .tb2 {
    text-align: center;
  }
}
@media (max-width: 876px) {
  .tb1 {
    text-align: center;
    width: 300px;
  }
  .imgbox4 {
    display: none;
  }
}
@media (max-width: 776px) {
  .f1 {
    font-size: 50px;
  }
  .f2 {
    font-size: 14px;
  }
  .fut {
    flex-direction: column;
  }
  .input-nv {
    padding: 0;
    padding: 10px 30px;
  }
}
// -------------------------------------------------
@media (max-width: 1455px) {
  .end-post {
    flex-wrap: wrap;
  }
  .end-box {
    // flex: 1 0 20%;
    flex-grow: 1;
    // flex-shrink: 0;
    flex-basis: 20%;
  }
  .end-box1 {
    display: flex;
    text-align: center;
    flex-direction: row;
    margin: auto;
    padding-top: 30px;
    gap: 50px;
  }
  .text3 {
    display: none;
  }
  .text4 {
    display: none;
  }
}
// --------------------
@media (max-width: 738px) {
  .end-box {
    padding: 0;
  }
  .end-box1 {
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 5px;
  }
  .input-end {
    margin: 0;
    font-size: 16px;
    margin-top: 8px;
    padding: 12px 80px 12px 12px;
  }
  .text1 {
    font-size: 20px;
  }
  .text2 {
    font-size: 14px;
  }
  .end-btn {
    padding: 8px 30px;
    font-size: 16px;
  }
  .end-post2 {
    justify-content: center;
    align-items: center;
  }
  .ennd-t {
    font-size: 14px;
    text-align: center;
    margin: auto;
  }
  .t10 {
    font-size: 14px;
    display: none;
  }
}
// -----------------------------
@media (max-width: 502px) {
  .end-post {
    padding-left: 10px;
  }
  .end-box {
    flex-basis: 45%;
    font-size: 14px;
  }
  .input-end {
    padding: 10px 40px 10px 10px;
  }
  .end-btn {
    font-size: 14px;
    padding: 8px 20px;
  }
  .ennd-t {
    font-size: 12px;
  }
  .img-end {
    display: none;
  }
}
// ---------------------------
@media (max-width: 392px) {
  .t1 {
    font-size: 45px;
  }
  .t2 {
    font-size: 16px;
  }
  .btn {
    font-size: 20px;
    padding: 8px 40px;
  }
  .tt1 {
    font-size: 45px;
  }
  .card {
    max-width: 300px;
  }
  .tt2 {
    margin: 0;
    padding: 0;
  }
  .tt3 {
    font-size: 14px;
  }
  .tb {
    font-size: 45px;
  }

  .tb3 {
    font-size: 45px;
  }
  .tb4 {
    font-size: 14px;
  }
  .card-box2 {
    width: 300px;
    height: 300px;
  }
  .img-box2 {
    width: 300px;
    height: 320px;
  }
  // -------------
  .tb5 {
    font-size: 40px;
  }
  .post {
    border-radius: 5px;
  }
  .img-box3 {
    width: 84px;
    height: 84px;
  }
  .p2 {
    font-size: 10px;
  }
  .pt1 {
    font-size: 22px;
  }
  .pt2 {
    font-size: 22px;
  }
  .pt3 {
    font-size: 22px;
  }
  .pt4 {
    font-size: 22px;
  }
  .pt5 {
    font-size: 22px;
  }
  .pt6 {
    font-size: 22px;
  }
  // ----------------
  .o1 {
    font-size: 45px;
  }
  .o2 {
    font-size: 12px;
  }
  .btn-box5 {
    font-size: 18px;
    padding: 10px 40px;
  }
  // ---------------
  .img-o3 {
    width: 300px;
  }
  .o4 {
    max-width: 240px;
  }
  // -----------
  .f1 {
    padding-top: 80px;
  }
}
// section optimization

@media (max-width: 372px) {
  .title {
    font-size: 30px;
    text-align: center;
  }
  .title1 {
    font-size: 12px;
    text-align: center;
  }
  .btn-box4 {
    font-size: 14px;
    padding: 8px 30px;
  }
  .end-box1 {
    flex-direction: column;
  }
  // -----------
  @media (max-width: 320px) {
    .o1 {
      font-size: 36px;
    }
    .o2 {
      font-size: 10px;
    }
    .input-nv {
      padding: 10px 20px 10px 10px;
    }
    .input {
      font-size: 14px;
    }
    .input-end {
      padding: 8px 20px 8px 8px;
    }
    .end-input {
      font-size: 14px;
      flex-grow: 0;
    }
  }
}
